<div class="my-3">
    <h2>OF / From</h2>

    <br>

    <strong> Ex - 01 (OF)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">'ram', 'shyam', 'mohan'</p>
            <hr>

            <ul id="liContainer">

            </ul>
        </div>

        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">&#123;a:'ram', b:'shyam', c:'mohan'&#125;</p>
            <hr>

            <ul id="liContainer2">

            </ul>
        </div>
    </div>
    <br>
    <strong> Ex - 02 (FROM)</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <br>
            <p>from(['ram', 'shyam', 'mohan')]</p>
    
        <ul id="ex2Container1">
    
        </ul>
        </div>

        <div class="col-md-4">
            <strong>Promise</strong>
            <br>
            <p>from(['ram', 'shyam', 'mohan')]</p>
    
        <ul id="ex2Container2">
    
        </ul>
        </div>

        <div class="col-md-4">
            <strong>String</strong>
            <br>
            <p>String To Observable</p>
    
        <ul id="ex2Container3">
    
        </ul>
        </div>
    </div>
</div>
