<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li><a routerLink="from-event">from-event</a></li>
            <li><a routerLink="interval">Interval</a></li>
            <li><a routerLink="of-from">Of-From</a></li>
            <li><a routerLink="toArray">toArray</a></li>
            <li><a routerLink="customObs">Custom Observable</a></li>
            <li><a routerLink="map">Map Operator</a></li>
            <li><a routerLink="pluck">Pluck Operator</a></li>
            <li><a routerLink="filter">Filter Operator</a></li>
            <li><a routerLink="tap">Tap Operator</a></li>
            <li><a routerLink="take">Take , TakeLast and TakeUntill</a></li>
            <li><a routerLink="retry">Retry ,RetryWhen , Delay and Scan</a></li>
            <li><a routerLink="dTime-dChange">DebounceTime & DistinctUntilChanged</a></li>
            <li><a routerLink="subject">Subject & Behavior Subject</a></li>
            <li><a routerLink="replay-subject">Replay Subject</a></li>
            <li><a routerLink="concat">Concat</a></li>
            <li><a routerLink="merge">Merge</a></li>
            <li><a routerLink="merge-map">Merge Map</a></li>
        </ul>
    </div>
</div>