<div class="my-3  " >
    <h2>Switch Map</h2>
    <hr>
    <br>
    <h5>Search Data</h5>
<div class="mt-3">
  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
</div>
    
<br>
    </div>
    <div class="my-3 ">
      <div class="d-flex">
        <strong>Searche Result</strong>
        <p class="ml-auto ">5 Data Found.</p>
      </div>
      

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>

