.wrapper{
    display: flex;

    div{
        margin-right: 10px;
        border: 1px solid;
        min-width: 50px;
        width: auto;
        height: 40px;
        text-align: center;
        padding: 5px;
    }

    .red{
        background: red;
    }
    .blue{
        background: blue;
    }
}